<form id="searchForm" method="get" asp-action="ProductSearch">
    <p>
        <input id="searchForm" type="search" placeholder="search products" value="@ViewData["GetProducts"]" name="prdSearch" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
